body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.col{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.poc{
  display: flex;
  justify-content: center;
}
.green{
  background-color: #4CAF50; /* Green */  
}
h2{
  text-align: left;
}
.ta-l{
  text-align: left;
}
.white{
  color:white;
}
	
/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}


.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
/*QUIZZ*/
.quizContainer{
  position: absolute;
  left:35%;
  right:35%;
} 
.absoluteInput{
  position: absolute;
  width:10%;
}
.quizListContainer{
  padding-left: 0px;
}
.noBullet{
  list-style-type: none;
  text-align: left;
  margin:10px 0px;
  padding: 5px 5px;
  /*background: #4CAF50;*/
}
.quizzListLink {
  text-decoration: none;
  font-size: 0.7rem;
  color: white;
}


